
/* Font Family Start
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap');

/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Font Family End
-------------------------------------------------- */

/* Common Fonts Start
-------------------------------------------------- */

body {font-family: 'Titillium Web', sans-serif; !important; font-size: 18px;
    color: #656D78;}
.thumbnail-block .caption h4,
.cap-heading h4{font-family: 'Roboto', sans-serif;}

/* Common Fonts End
-------------------------------------------------- */

/* Body and General Styles Start
-------------------------------------------------- */

body{background-image: url(../images/ic/bg-image.png);background-position: center bottom;background-size: cover;background-repeat: no-repeat;}
:focus{outline: none !important;}

/* Body and General Styles End
-------------------------------------------------- */

/* Header Start
-------------------------------------------------- */
.dropdown-menu{font-size: 16px; padding: 20px 15px; margin-top: 40px; border: 2px solid #f6f6f6; border-radius: 0 0 6px 6px; box-shadow: 2px 2px 4px #f6f6f6;}
.dropdown-toggle{ padding-right: 12px !important;}
.navbar {padding: 30px 60px 33px;}
.navbar-brand img{ width: 43px; height: 56px;}
.navbar .dropdown-toggle::after{color: #5f5f5f;}
.header-user .dropdown-toggle{background-color: transparent;padding: 0;border: none;color: #fff;}
.navbar-nav .nav-item{padding-left: 14px;padding-right: 67px;}
.navbar-nav .nav-link{position: relative;}
.nav-link{padding: 8px 1rem 13px; font-size: 28px}
.navbar-nav .nav-link:before{content: "";position: absolute;left: 0;bottom: 0;right: 0;height: 2px;}
.navbar-dark .navbar-nav .show > .nav-link:before, 
.navbar-dark .navbar-nav .active > .nav-link:before, 
.navbar-dark .navbar-nav .nav-link.show:before, 
.navbar-dark .navbar-nav .nav-link.active:before{background-color: #fff; }
.navbar-nav .nav-link.dropdown-toggle{padding-right: 18px !important;}
.navbar-nav .dropdown-toggle::after{top: 17px;font-size: 14px;}

.quick-icons-header{border-right: 2px solid #5f5f5f;}
.quick-icons-header li{margin-right: 50px;}
.quick-icons-header li img{opacity: 0.5;}
.quick-icons-header li:hover img{opacity: 1;}
.quick-icons-header li.active img{opacity: 1;}
.header-user{padding-left: 30px; padding-right: 22px; font-size: 24px;}
.user-image{margin-right: 20px;width: 36px;height: 36px;overflow: hidden;}
.user-image img{width: 100%;height: 100%;}
.header-user{}

/* Header End
-------------------------------------------------- */

/* Content Start
-------------------------------------------------- */

#content{max-height: 100vh;}

.sidebar{background-color: #fff;min-width: 450px;padding-top: 50px;padding-bottom: 50px;max-width: 450px;}
.content-section{padding: 26px 0px 4px 40px;}
.px-50{padding-left: 50px;padding-right: 50px;}
.recent-post{margin-bottom: 20px;padding: 0 30px 0 50px;}
.recent-post h3{ color: #B9BDC8}
.recent-post-cnt{padding-left: 60px;padding-right: 34px; height: calc(100vh - 265px)}
.recent-post-head{padding:0 30px 20px 10px;border-bottom: 2px solid #f6f6f6;}
.recent-post-body{padding-top: 10px;/*max-height: 575px;*/ height: calc(100vh - 220px) ;overflow: auto;padding-bottom: 30px;}
.cursor-pointer{cursor: pointer;}
.like-counter span{margin-left: 22px;font-size: 16px;font-weight: 600;cursor: pointer;}
.recent-post-block{border: 2px solid #f6f6f6;overflow: hidden;}
.recent-post-block+.recent-post-block{margin-top: 30px;}
.thumb img{width: 100%;}
.cap-heading{padding: 23px;}
.cap-heading h4{margin-bottom: 10px;color: #000;}
.cap-heading p{margin-bottom: 0;font-size: 16px;}
.post-likes{border-top: 2px solid #f6f6f6;padding: 16px 23px;}
.like-counter img{margin-right: 7px;}
#calendar{padding: 0 15px;}

.right-section.sidebar{padding-top: 20px; padding-bottom: 92px;}
.side-accord{padding: 0 30px;}
.accordion > .card{border: none;border-radius: 0;}
.accordion > .card +.card{border-top: 1px solid #e7e7e7;}
.accordion > .card .card-header{font-size: 22px;line-height: 24px; color: #010101;position: relative;cursor: pointer;}
.accordion .card-body{padding: 10px 0 0 0;}
.accordion > .card .card-header .fa{display: block;height: 30px;}
.acc-arrow{position: absolute;right: 0;top: 50%;color: #a8a8a8;font-size: 30px;width: 20px;height: 30px;line-height: 30;}
.accordion > .card .card-header[aria-expanded="true"] .fa{margin-top: 4px;}

.start-chat{padding: 30px 44px;font-size: 20px;color: #010101;border-top: 1px solid #e7e7e7;}

.thumbnail-group{padding: 35px 40px 12px 40px;border-top: 1px solid #e7e7e7;}
.thumbnail-block{margin-bottom: 30px;overflow: hidden;}
.thumbnail-block .caption{border: 2px solid #f6f6f6;padding: 22px;font-size: 16px;line-height: 20px;}
.thumbnail-block .caption h4{margin-bottom: 5px;color: #000;font-size: 20px;}
.thumbnail-block .caption p{margin-bottom: 4px;}

.content-section .card{border: 2px solid #f6f6f6;}
.card-head{border-bottom: 2px solid #f6f6f6;padding: 0 34px;}

.day-block{padding-bottom: 25px;}
.day-block+.day-block{border-top: 2px solid #f6f6f6;}
.summary-block{background-color: #f6f6f6;padding: 5px 28px 5px 5px;color: #000;}
.summary-block+.summary-block{margin-top: 10px;}
.summary-image{margin-right: 16px;width: 50px;min-width: 50px; height: 50px;overflow: hidden;}
.summary-image img{width: 100%;height: 100%;}
.no-post-summ{height: 60px;}

.full-day-block{padding-bottom: 25px;}
.full-day-block+.day-block{border-top: 2px solid #f6f6f6;}
.full-post-block{background-color: #fff;padding: 30px 35px; color: #000; border: 2px solid #f6f6f6; border-radius: 18px; margin-top: 37px}
.full-post-block+.full-post-block{margin-top: 10px;}
.full-post-image {width: 357px; min-width: 50px; height: 249px; overflow: hidden; border-radius: 7px;}
.full-post-image img{width: 100%;height: 100%;}
.full-post-content{  width: 100%; margin-left: 20px}
.full-post-title{ color:#000; min-height: 35px;}
.full-post-desc{ color: #b9bdc8; min-height: 115px}
.schedule-sec{ margin-top: 15px; color: #b9bdc8; font-size: 17px; font-weight: 100;}
.btn-sec{  color: #000; font-size: 18px; font-weight: 400;}
.post-share{position: absolute; right: 30px}

.dayname-head{padding: 24px 150px 24px 0;color: #b9bdc8;font-size: 20px;line-height: 36px; text-align: center;}
.dayname-head .btn{position: absolute;right: 28px;top: 50%;}

.social-summary{padding-right: 15px;border-right: 1px solid #ccd0d9;}
.social-summary li+li{margin-left: 12px;}

.social-full-post{padding-right: 15px;}
.social-full-post li{ height: 30px; width: 30px}
.social-full-post li img{ height: 100%; width: 100%}
.social-full-post li+li{margin-left: 18px;}

.action-list{padding-left: 15px;}
.action-list li+li{margin-left: 19px;}

.tab-content .scroll-cust{max-height: calc(100vh - 230px);overflow: auto;padding: 2px 0 0;}

.post-wrap{padding: 20px 036px 40px 10px;}
.post-block{/*padding-left: 100px;*/}
.post-small-log{position: absolute;left: 0;top: 0;}
.panel{overflow: hidden;border: 2px solid #f6f6f6;margin-bottom: 20px; background: #fff}
.panel-head{background-color: #f6f6f6;padding: 20px 30px;font-size: 20px;line-height: 24px;color: #010101;}
.cal-ico{  position: absolute; top: 16px; right: 34px; z-index: 1; width: 25px; cursor: pointer;}
.disable-block .cal-ico{ cursor: default; pointer-events: none;}

.header-user-mob{ display: none}
.mob-only{ display: none; }

.add-pic{padding: 23px 7px 22px 25px;border-bottom: 2px solid #f6f6f6;}
.add-pic .btn{}
.btn img{margin-right: 10px; vertical-align: baseline;}
.btn{padding:8px 20px; border-radius: 20px}
.btn-cnfm{padding:14px 40px; border-radius: 30px;}
.img-sel-post{ right: 10px; position: absolute; top: 16px;}
.write-here{border-bottom: 2px solid #f6f6f6;padding: 10px 25px;}
.write-here .form-control{border: none;padding: 0;height: 80px; font-size: 16px;color: #000;}
.write-here .form-control::placeholder{color: #A5A5A5;}
.file-preview{ width: max-content; overflow: hidden; height: 115px; min-width: 100%}
.file-input{overflow-y: auto;}
.post-user{width: 40px;height: 40px;display: block;}
.post-user img{width: 100%;height: 100%; border-radius: 100%; max-width: 40px; max-height: 40px;}
.social-post{position: absolute;right: -9px;top: -3px;background-color: #fff;z-index: 1; width: 20px; height: 20px;}
.green-check{position: absolute;left: -5px;bottom: -2px;z-index: 1;}
.post-on{padding: 16px 25px;}
.post-persons{margin-left: 100px;}
.posters+.posters{margin-left: 24px;}
.posters.disable img{filter: grayscale(1);-webkit-filter: grayscale(1);}

.analytics{ width: 20px;}
.btn-post-grp .btn { margin-right: 15px; padding: 10px 30px}
.panel-body{padding: 40px 40px 40px 40px;}
.date-time-block{padding-left: 71px;}
.date-time-block+.date-time-block{margin-top: 14px;}
.lg-social{position: absolute;left: 0;top: 50%; width: 40px;}
.date-time-block label{font-size: 22px;color: #000;padding-right: 22px;margin: 0;font-weight: normal;}
.date-time-block .form-control{border: 2px solid #f6f6f6;height: 60px;font-size: 18px;color: #656d78;padding: 16px 21px; -webkit-appearance:none}
.date-time-block .form-control.datepicker{padding-right: 50px;background-image: url(../images/calendar-icon.png);background-position: center right 23px;background-repeat: no-repeat;}
.form-control:disabled, .form-control[readonly]{ background-color: #fff}

#content-setting{ min-height: 100vh; background-color: #EEEEEE;}
.left-section{height: calc(100vh - 125px); overflow: hidden;}
.content-section{height: calc(100vh - 120px); overflow: auto}
.right-section{height: calc(100vh - 125px); overflow: auto;}
.left-section-setting{background-color: #fff;min-width: 450px;padding-top: 50px;padding-bottom: 50px;max-width: 450px;}
.content-section-setting{padding:  58px 15%;}
.setting-tab{ padding: 45px 10px 10px 28%;}
.setting-tab li{font-size: 22px; margin-bottom: 20px;}
.setting-tab li a{color: #D1D2D6;}
.setting-tab li a.active{color:#000}
.content-section-setting .tab-pane{ background: #fff; width: 93%; padding: 33px 39px; border-radius: 10px; }
.tab-header{}
.tab-input{margin: 20px 0; }
.input-group-setting{margin-bottom: 28px;}
.input-group-setting label{    margin: 15px 0px; font-size: 22px; color: #000;}
.input-group-setting input{padding: 28px; border-radius: 8px;}
.input-group-setting .btn-secondary{border-radius: 30px; padding: 10px 20px;}
.social-setting{padding-right: 15px;}
.social-setting li+li{margin-left: 12px;}

.disable-block{}
.disable-block img{ filter: grayscale(1);}
.disable-block input{ pointer-events: none; cursor: not-allowed; background: #f6f6f6 !important; color: #B9BDC8 !important;}
.disable-block .cal-ico{}

.mCSB_inside > .mCSB_container{
    margin-right: 12px;
}

select.cstm-select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; outline: 0; box-shadow: none; background: #fff; padding: 28px; border-radius: 8px;}
select.cstm-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
.btn-setting{ border: 1px dashed #ced4da; border-radius: 0; color: #000; padding: 15px 20px; margin-top: 12px; }
.setting-payment img{width: 100px; height: 50px; margin: 0px 11px;}

.notification-tag{padding-left: 0px;}
.dropdown-toggle.notification-btn{
    background-color: transparent;
    padding: 0;
    border: none;
    color: #fff;
    padding-right:0 !important;

}
.dropdown-toggle.notification-btn::after{
    content: "\f107"; display: none;
}
.notification{
    width: 32px;
    margin-right: 0px;
}
.notification-box{
    width: 350px;
    padding: 0;
}
.header-notification{
    background: #000;
    color: #fff;
    padding: 12px 20px;
    font-size: 20px;
}
.disable-img{ filter: grayscale(1)}
.content-notification{}
.content-notification ul{padding: 10px}
.content-notification ul li{list-style: none; margin-right: 0px}
span.notification-icon{width: 100px; padding-right: 8px; padding-top: 10px;}
.notification-icon img{ width: 50px; height: 50px; opacity: 1}
p.nt-cnt{ margin-bottom: 1px; }
.nt-tm{color: #a5a5a5;}
.notification-icon .txt-nt{}

.right-sec-header{ font-size: 18px; color: #A5A5A5; padding: 40px 40px 40px 50px; border-bottom: 1px solid #E7E7E7}
.collapse .card-body{
    color: #A5A5A5;
}
.xdsoft_today_button{ display: none}

.wh15{width: 12px; height: 12px;}
.bonc-txt-btn{ height: 40px;  padding: 8px 27px; }
.p0{padding: 0}
.mx-100{
    height: calc(100vh - 150px);
    overflow: hidden;
    margin-right: 40px;
}
.section-schedule{

}

/* Responsive Style Start
-------------------------------------------------- */

@media (min-width: 768px) {

}

@media (max-width: 1650px) {
    .sidebar{min-width: 350px;max-width: 350px;}
    .mx-100{margin-right: 20px;}
    .recent-post{padding-left: 20px;padding-right: 20px;}
    .recent-post-cnt{padding-left: 12px;padding-right: 0px; height: calc(100vh - 265px)}
    .side-accord{padding: 0 15px;}
    .start-chat{padding-left: 20px;padding-right: 20px;}
    .thumbnail-group{padding-left: 30px;padding-right: 30px;}
    .content-section{padding-left: 20px;padding-right: 3px;}
    .post-wrap{padding-right: 10px;padding-left: 0;}

    .nav-link{font-size: 24px;}
}

@media (max-width: 1440px) {
    /*.btn img{ width: 11px}*/
    .btn { font-size: 12px}
    body{font-size: 16px;}
    .post-user { width: 35px; height: 35px; display: block; }
    .date-time-block img{ width: 35px}
    .date-time-block .cal-ico img{ width: 22px}
    .date-time-block .form-control{ height: 54px; }
    .cal-ico{ top: 14px;}
    .btn-cnfm{ font-size: 18px}
    .date-time-block label{font-size: 20px}
}
@media (max-width: 1400px) {

    body{font-size: 16px;line-height: 22px;}
    .card-body{padding-left: 10px;}
    .post-persons{margin-left: 50px;}
    .post-small-log{width: 50px;}
    .post-small-log img{width: 100%;}
    .post-block{padding-left: 10px;}
    .panel-body{padding-left: 10px;padding-right: 10px;}
    .sidebar {min-width: 300px;max-width: 300px;}
}
@media (max-width: 1300px) {
    .btn{padding: 8px 12px;}
    .btn img{margin-right: 2px;}
    .bonc-txt-btn{padding: 8px 17px;}
    .date-time-block{padding-left: 50px;}
    .date-time-block label{font-size: 16px;padding-right: 15px;}
    .date-time-block .form-control{padding: 6px 13px;height: 50px;}
    .date-time-block .form-control.datepicker{padding-right: 38px;background-position: center right 15px;}
    .input-group-setting label{font-size: 20px;}
}

@media (max-width: 1199px) {
    #content{overflow: hidden;}
    .sidebar {min-width: 350px;max-width: 350px;position: relative;z-index: 99;}
    .left-section{left: -350px;}
    .right-section{right: -350px;}
    .content-section{margin-left: -350px;margin-right: -350px;}
    .Leftbar-open .left-section{left: 0;}
    .Rightbar-open .right-section{right: 0;}
    .close-side{position: absolute;right: 10px;top: 10px;color: #000;font-size: 24px;cursor: pointer;z-index: 9;}
    .right-section .close-side{left: 10px;right: auto;}

}

@media (max-width: 991px) {
    .navbar-brand{margin-right: 25px;}
    .btn{font-size: 14px;}
    .quick-icons-header li{margin-right: 20px;}
}

@media (max-width: 767px) {
    .navbar{padding: 10px 15px 10px;}
    .quick-icons-header li img{width: 18px;}
    .quick-icons-header li{margin-right: 16px;}
    .header-user{padding-left: 15px;}
    .dropdown-toggle{padding-right: 30px !important;}
    .header-right{margin-bottom: 10px;width: 100%;}
    .logo-header{width: 100%;}
    .navbar-nav .nav-item{padding: 0;}
    .navbar-nav{padding-top: 15px;}
    .nav-link{padding-top: 10px;padding-bottom: 10px;}
    .content-section{padding: 20px 15px;}
    .post-wrap{padding-top: 10px; padding-right: 0;}
    .post-block{padding-left: 0;padding-top: 0px;}
    .panel-head{padding: 18px 18px;font-size: 18px;line-height: 22px;}
    .add-pic .btn-group{margin-top: 0px;}
    .add-pic .btn{display: block;margin-left: 5px !important;margin-bottom: 5px !important;}
    .post-persons{margin: 20px 0 0 0;}
    .date-time-block{padding-left: 0;padding-top: 0;}
    .lg-social{top: 0;position: relative; transform: none !important;margin-bottom: 10px;}
    .date-group{margin-bottom: 15px;}
    .post-on{padding: 15px;}
    .add-pic{padding: 25px;}
    .btn-lg, .btn-group-lg > .btn{padding: 7px 30px;}
    .social-summary{border: none;padding: 10px 0 10px;}
    .action-list{padding: 0;}
    .dayname-head{padding: 15px;}
    .dayname-head .btn{position: static;transform: none !important;}
    .sidebar{padding-top: 30px;padding-bottom: 30px;min-width: 300px;max-width: 300px;}
    .content-section{margin-left: -300px;margin-right: -300px;}
    .recent-post{padding-left: 10px;padding-right: 10px;}
    .accordion > .card{padding: 20px 0;}
    .thumbnail-group{padding: 20px 15px;}
    .recent-post-body{padding-top: 20px;}
    .date-time-block label{ display: none;}
    .cal-ico{right: 20px}
}
@media (max-width: 450px) {
    body{background-image: none; background-color: #f3f3f3}
    .content-section{padding:0px;}
    .panel{border-radius: 0px; margin-bottom: 5px; border: 0px }
    .post-date-block .panel{ border-radius: 0px; margin-bottom: 5px; border: 0px;}
    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{display: none}
    .post-wrap{padding-top: 0px}
    .post-block{ padding-top: 0}
    .mCSB_inside > .mCSB_container{margin-right: 0px}
    .header-user-mob{ display: block}
    .mob-only{ display: block; }
    .navbar-dark .navbar-nav .show > .nav-link:before, .navbar-dark .navbar-nav .active > .nav-link:before, .navbar-dark .navbar-nav .nav-link.show:before, .navbar-dark .navbar-nav .nav-link.active:before{background-color: #000}
    .nav-link{font-size: 16px; padding-top: 5px; padding-bottom: 5px}
    .navbar-brand img{width: 24px; height: 30px}
    .navbar-dark .navbar-toggler-icon{background-size: 30px;}
    .dropdown-toggle{ padding-right: 20px !important;}
    .user-image{ height: 30px; width: 30px;}
    .header-right, .header-user{display: none !important;}
    .header-user-mob .user-image{margin-right: 0px;}
    .header-user-mob .dropdown-menu{margin-top: 10px;}
    .navbar-brand {     margin-right: 0px; }
    .img-sel-post .btn{padding: 5px 14px; margin: 2px; border-radius: 20px; font-size: 11px;}
    .bonc-txt-btn{padding: 5px 20px; margin: 2px; border-radius: 20px; font-size: 11px; height: auto; width: 94%}
    .img-sel-post { padding-left: 10px !important; width: 98%;}
    .add-pic{padding: 15px 15px 50px;}
    .add-pic .btn-group{margin-top: 25px;}
    .post-persons{margin-top: 12px;}
    .btn-post-grp .btn { margin: 10px 0px 0 10px;padding: 5px 25px;}
    .btn img{margin-right: 5px;}
    .date-ico{ right: 10px; }
    .date-ico{ right: 10px; }
    .lg-social{ top: 7px; position: absolute; transform: none}
    .date-time-block{padding-left: 45px; padding-top: 0px; padding-bottom: 0px; margin-top: 0 !important;}
    .panel-body{padding-top: 10px; padding-bottom: 5px;}
    .date-group { margin-bottom: 5px; }
    .date-group  .form-group{margin-bottom: 0}
    .date-time-block + .date-time-block{ border-top: 0px solid #f6f6f6; }
    .post-date-block .col-7{padding-right: 5px}
    .post-date-block .col-5{padding-left: 5px}
    .wh15{width: 10px; height: 10px;}
}
@media (max-width: 373px) {
    .img-sel-post .btn { padding: 5px 0px; margin: 2px; border-radius: 20px; font-size: 73%; }
    .bonc-txt-btn{ padding: 5px 0px; font-size: 73%;}
}

