a,
button,
.btn,
.quick-icons-header li img{
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.user-image{
	border-radius: 36px;
}

.sidebar{
	box-shadow: 0 0 29px rgba(0,0,0,0.04);
}

.recent-post-block,
.thumbnail-block,
.summary-block,
.summary-image,
.date-time-block .form-control{
	border-radius: 9px;
}
.panel{
	border-radius: 15px 15px 15px 15px;
}
.thumbnail-block .caption{
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.acc-arrow,
.dayname-head .btn,
.lg-social{
	transform: translateY(-50%);
}

.accordion > .card .card-header[aria-expanded="true"] .fa{
	transform: rotate(90deg);
}

.content-section .card{
	border-radius: 18px;
}

.post-user,
.social-post{
	border-radius: 100%;
}
