
/* Font Family Start
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap');

/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Font Family End
-------------------------------------------------- */

/* Common Fonts Start
-------------------------------------------------- */

body {font-family: 'Titillium Web', sans-serif; !important; font-size: 18px;
    color: #656D78;}
.thumbnail-block .caption h4,
.cap-heading h4{font-family: 'Roboto', sans-serif;}

/* Common Fonts End
-------------------------------------------------- */

/* Body and General Styles Start
-------------------------------------------------- */

body{background-image: url(../images/ic/bg-image.png);background-position: center bottom;background-size: cover;background-repeat: no-repeat;}
:focus{outline: none !important;}

/* Body and General Styles End
-------------------------------------------------- */

.overlay {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    opacity: 0.9;
    z-index: 99;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}
input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px;
}

/* Header Start
-------------------------------------------------- */
.page-header{ font-size: 24px; color: #000; font-weight: 500; text-transform: uppercase;}
.dropdown-menu{font-size: 16px; padding: 20px 15px; margin-top: 40px; border: 2px solid #f6f6f6; border-radius: 0 0 6px 6px; box-shadow: 2px 2px 4px #f6f6f6;}
.dropdown-toggle{ padding-right: 12px !important;}
.navbar {padding: 30px 60px 33px;}
 button.user-drp:not(:disabled){ background-color: #000000; border: none;}
.navbar-brand{ margin-right: 50px;}
.navbar-brand img{ width: 43px; height: 56px;}
.navbar .dropdown-toggle::after{color: #5f5f5f;}
.header-user .dropdown-toggle{background-color: transparent;padding: 0;border: none;color: #fff;}
.navbar-nav .nav-item{padding-left: 14px;padding-right: 25px;}
.navbar-nav .nav-link{position: relative;}
.nav-link{padding: 8px 1rem 13px; font-size: 28px}
.navbar-nav .nav-link:before{content: "";position: absolute;left: 0;bottom: 0;right: 0;height: 2px;}
.navbar-dark .navbar-nav .show > .nav-link:before,
.navbar-dark .navbar-nav .active > .nav-link:before,
.navbar-dark .navbar-nav .nav-link.show:before,
.navbar-dark .navbar-nav .nav-link.active:before{background-color: #fff; }
.navbar-nav .nav-link.dropdown-toggle{padding-right: 18px !important;}
.navbar-nav .dropdown-toggle::after{top: 17px;font-size: 14px;}

.quick-icons-header{border-right: 2px solid #5f5f5f;}
.quick-icons-header li{margin-right: 30px;}
.quick-icons-header li img{opacity: 0.5;}
.quick-icons-header li:hover img{opacity: 1;}
.quick-icons-header li.active img{opacity: 1;}
.header-user{padding-left: 30px; padding-right: 22px; font-size: 24px;}
.user-image{margin-right: 20px;width: 36px;height: 36px;overflow: hidden;}
.user-image img{width: 100%;height: 100%;}
.header-user{}

.sweet-alert button{
    background-color: #000 !important; color: #fff !important; border-radius: 20px !important; margin-bottom: 10px;
}
/* Header End
-------------------------------------------------- */

/* Content Start
-------------------------------------------------- */

#content{max-height: 100vh;}

.sidebar{background-color: #fff;min-width: 450px;padding-top: 0px;padding-bottom: 0px;max-width: 450px;}
.content-section{padding: 26px 0px 4px 40px;}
.content-section-bonc{}
.px-50{padding-left: 50px;padding-right: 50px;}
.recent-post{margin-bottom: 20px;padding: 0 30px 0 50px;}
.recent-post h3{ color: #B9BDC8}
.recent-post-cnt{padding-left: 60px;padding-right: 34px; height: calc(100vh - 300px)}
.recent-post-head{padding:30px 30px 20px 10px;border-bottom: 2px solid #f6f6f6;}
.recent-post-body{padding-top: 10px;/*max-height: 575px;*/ height: calc(100vh - 120px) ;overflow: auto;padding-bottom: 0px;}
.cursor-pointer{cursor: pointer;}
.like-counter span{margin-left: 22px;font-size: 16px;font-weight: 600;cursor: pointer; opacity: 0.3}
.recent-post-block{border: 2px solid #f6f6f6;overflow: hidden;}
.recent-post-block+.recent-post-block{margin-top: 30px;}
.thumb img{width: 100%;}
.cap-heading{padding: 23px;}
.cap-heading h4{margin-bottom: 10px;color: #000;}
.cap-heading p{margin-bottom: 0;font-size: 16px;}
.post-likes{border-top: 2px solid #f6f6f6;padding: 16px 23px;}
.like-counter img{margin-right: 7px; opacity: 0.2;}
#calendar{padding: 20px 15px;}

.no-pad{padding: 0 !important;}
.right-section.sidebar{padding-top: 20px; padding-bottom: 3px;}
.side-accord{padding: 0 30px;}
.accordion > .card{border: none;border-radius: 0;}
.accordion > .card +.card{border-top: 1px solid #e7e7e7;}
.accordion > .card .card-header{font-size: 18px;line-height: 24px; color: #010101;position: relative;cursor: pointer;  }
.accordion > .card{padding: 20px 15px;}
.accordion .card-body{padding: 10px 0 0 0;}
.accordion > .card .card-header .fa{display: block;height: 30px;}
.acc-arrow{position: absolute;right: 0;top: 50%;color: #a8a8a8;font-size: 30px;width: 20px;height: 30px;line-height: 30;}
.accordion > .card .card-header[aria-expanded="true"] .fa{margin-top: 4px;}

.start-chat{padding: 30px 44px;font-size: 20px;color: #010101;border-top: 1px solid #e7e7e7;}

.thumbnail-group{padding: 35px 40px 12px 40px;border-top: 1px solid #e7e7e7;}
.thumbnail-block{margin-bottom: 30px;overflow: hidden;}
.thumbnail-block .caption{border: 2px solid #f6f6f6;padding: 22px;font-size: 16px;line-height: 20px;}
.thumbnail-block .caption h4{margin-bottom: 5px;color: #000;font-size: 20px;}
.thumbnail-block .caption p{margin-bottom: 4px;}

.content-section .card{border: 2px solid #f6f6f6; margin-top: 20px}
.card-head{border-bottom: 2px solid #f6f6f6;padding: 0 34px;}

.day-block{padding-bottom: 25px;}
.day-block+.day-block{border-top: 2px solid #f6f6f6;}
.summary-block{background-color: #f6f6f6;padding: 5px 5px 5px 5px;color: #000;}
.mxw-50{max-width: 50%; overflow: hidden;}
.summary-block+.summary-block{margin-top: 10px;}
.summary-image{margin-right: 16px;width: 50px;min-width: 50px; height: 50px;overflow: hidden;}
.summary-image img{width: 100%;height: auto;}
.no-post-summ{height: 60px;}

.full-day-block{padding-bottom: 0px;}
.full-day-block+.day-block{border-top: 2px solid #f6f6f6;}
.full-post-block{background-color: #fff;padding: 30px 35px; color: #000; border: 2px solid #f6f6f6; border-radius: 18px; margin-top: 10px}
.concept-post-block{margin-top: 12px}
.full-post-block+.full-post-block{margin-top: 10px;}
.full-post-image {width: 250px; height: 150px; overflow: hidden; border-radius: 7px;}
.full-post-image img{object-fit: cover; height: 100%; width: 100%}
.full-post-content{  width: 100%; margin-left: 20px}
.full-post-title{ color:#000; min-height: 35px;}
.full-post-desc{ color: #b9bdc8; height: 50px; overflow:hidden;}
.schedule-sec{ margin-top: 15px; color: #000; font-size: 17px; font-weight: 100;}
.schedule-sec span{ color: #b9bdc8; }
.btn-sec{  color: #000; font-size: 14px; font-weight: 100;}
.post-share{position: absolute; right: 30px; margin-top:20px;}
.full-post-soc-btns{ margin-top: 5px;}
.pt-7{padding-top: 7px;}
.full-post-soc-btns .right-fix{position: absolute; right: 30px;}
.dayname-head{padding: 24px 150px 24px 0;color: #b9bdc8;font-size: 20px;line-height: 36px; text-align: center;}
.full-post.dayname-head{padding: 10px 0px 0px 0}
.dayname-head .btn{position: absolute;right: 5px;top: 50%;}
.btn-share-now{}
.btn-home-grey{background-color: #F5F6F7;
    color: #000000;}
.inverse-clr{

}
.media-btn-group{
    padding: 10px;
    border-bottom: 2px solid #f6f6f6;
}
.media-btn-group .row{
    margin-right: 0px;
    margin-left: 0px;
}
.col-media{ flex: 0 0 23%; max-width: 155px; width: 25%; margin: 0 5px }

.social-summary{padding-right: 15px;border-right: 1px solid #ccd0d9;}
.social-summary li+li{margin-left: 12px;}

.social-summary-time{padding-left: 15px;}

.social-full-post{padding-right: 15px;}
.social-full-post li{ height: 30px; width: 30px}
.social-full-post li img{ height: 100%; width: 100%}
.social-full-post li+li{margin-left: 18px;}

.action-list{padding-left: 15px;}
.action-list li+li{margin-left: 19px;}

.tab-content .scroll-cust{max-height: calc(100vh - 230px);overflow: auto;padding: 0px 0 0;}
.tab-content .file-preview.scroll-cust{max-height: 300px;}
.post-wrap{padding: 20px 036px 40px 10px;}
.post-block{/*padding-left: 100px;*/}
.post-small-log{position: absolute;left: 0;top: 0;}
.panel{overflow: hidden;border: 2px solid #f6f6f6;margin-bottom: 20px; background: #fff}
.panel-head{background-color: #f6f6f6;padding: 20px 30px;font-size: 20px;line-height: 24px;color: #010101;}
.cal-ico{  position: absolute; top: 16px; right: 34px; z-index: 1; width: 25px; cursor: pointer;}
.disable-block .cal-ico{ cursor: default; pointer-events: none;}
.list-unstyled.action-list li img{width: 17px;}
.list-unstyled.social-summary li img{width: 17px;}
.header-user-mob{ display: none}
.mob-only{ display: none; }
.photo-icon-edit-sec{ width: 100%; position: relative; height: max-content; overflow: visible;}
.photo-icon-edit{}
.photo-icon-edit img{width: 100%}
.company-icon-sec{padding: 20px 30px 10px;}
.company-icon-ul{padding:0; margin: 0; display: table}
.company-icon-ul li.company-icon-list{/*width: 50px;*/ height: 40px; list-style: none; display: table-cell; padding: 0px 5px; border-right: 2px solid #f6f6f6;}
.company-icon-list img{ width: auto; height: 100%; /*border-radius: 20px;*/ opacity: 0.4;}
.company-icon-list img.active{opacity: 1; /*box-shadow: 1px 1px 5px 2px;*/ border: 2px solid;}
.main-image{position: relative;}
.main-image img{width: 100%}
.icon-draggable-sec{width: 100px; height: auto; position: absolute !important; z-index: 10; top: 1px}
.icon-draggable-sec img{width: 100%; height: 100%}
.photo-icon-edit{ position: relative; top: 10px; }

.add-pic{padding: 23px 7px 22px 25px;border-bottom: 2px solid #f6f6f6;}
.add-pic .btn{}
.btn img{margin-right: 10px; vertical-align: baseline;}
.btn{padding:8px 20px; border-radius: 20px; min-width: 80px;}
.btn-cnfm{padding:14px 40px; border-radius: 30px;}
.img-sel-post{ right: 10px; position: absolute; top: 16px;}
.write-here{border-bottom: 2px solid #f6f6f6;padding: 10px 25px;}
.write-here .form-control{border: none;padding: 0;height: 80px; font-size: 16px;color: #000;}
.write-here .form-control::placeholder{color: #A5A5A5;}
.file-preview{ width: max-content; overflow: hidden; height: 132px; min-width: 100%}
.file-input{overflow-y: auto; display: none}
.post-user{width: 40px;height: 40px;display: block;}
.post-user img{width: 100%;height: 100%; border-radius: 100%; max-width: 40px; max-height: 40px;}
.social-post{position: absolute;right: -9px;top: -3px;background-color: #fff;z-index: 1; width: 20px; height: 20px;}
.green-check{position: absolute;left: -5px;bottom: -2px;z-index: 1;}
.post-on{padding: 16px 25px;}
.post-persons{margin-left: 100px;}
.posters+.posters{margin-left: 24px;}
.posters.disable img{filter: grayscale(1);-webkit-filter: grayscale(1);}

.analytics{ width: 20px;opacity: 0.3;}
.btn-post-grp .btn { margin-right: 15px; padding: 10px 30px}
.panel-body{padding: 40px 40px 40px 40px;}
.date-time-block{padding-left: 71px;}
.date-time-block+.date-time-block{margin-top: 14px;}
.lg-social{position: absolute;left: 0;top: 50%; width: 40px;}
.date-time-block label{font-size: 22px;color: #000;padding-right: 22px;margin: 0;font-weight: normal;}
.date-time-block .form-control{border: 2px solid #f6f6f6;height: 60px;font-size: 18px;color: #656d78;padding: 16px 21px; -webkit-appearance:none}
.date-time-block .form-control.datepicker{padding-right: 50px;background-image: url(../images/calendar-icon.png);background-position: center right 23px;background-repeat: no-repeat;}
.form-control:disabled, .form-control[readonly]{ background-color: #fff}

#content-setting{ min-height: 100vh; background-color: #EEEEEE;}
.left-section{height: calc(100vh - 120px); overflow: auto;}
.content-section{height: calc(100vh - 120px); overflow: auto}
.right-section{height: calc(100vh - 120px); overflow: auto;}
.left-section-setting{background-color: #fff;min-width: 450px;padding-top: 50px;padding-bottom: 50px;max-width: 450px;}
.content-section-setting{padding:  58px 15%;}
.setting-tab{ padding: 45px 10px 10px 28%;}
.setting-tab li{font-size: 22px; margin-bottom: 20px;}
/*.setting-tab li.active{border-bottom: 2px solid #000;}*/
.setting-tab li a{color: #D1D2D6;}
.setting-tab li a.active{color:#000}
.content-section-setting .tab-pane{ background: #fff; width: 93%; padding: 33px 39px; border-radius: 10px; }
.tab-header{}
.tab-input{margin: 20px 20px; }
.input-group-setting{margin-bottom: 28px;}
.input-group-setting label{    margin: 15px 0px; font-size: 22px; color: #000;}
.input-group-setting input{padding: 28px; border-radius: 8px;}
.input-group-setting .btn-secondary{border-radius: 30px; padding: 10px 20px;}
.social-setting{padding-right: 15px;}
.social-setting li+li{margin-left: 12px;}
.input-group-setting label.add-logo-btn{margin: 0 0; }

.content-brand{
    max-height: calc(100vh - 121px);
    overflow: auto;
    min-height: 500px !important;
}

.disable-block{}
.disable-block img{ filter: grayscale(1);}
.disable-block input{ pointer-events: none; cursor: not-allowed; background: #f6f6f6 !important; color: #B9BDC8 !important;}
.disable-block .cal-ico{}

.mCSB_inside > .mCSB_container{
    margin-right: 12px;
}
.black-header{
    background-color: #000000;
    padding: 20px 30px;
    color: #FFF;
    font-size: 28px;
}
.black-header .modal-title{ font-size: 18px;}
.black-header span{color: #FFF;}
.bonc-photo-body{height: calc(100vh - 180px); overflow: auto}
.bonc-photo-div{padding: 10px 0}
.bonc-media-list{  line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;
}
.bonc-img{ width: 100%; height: auto;}
.bonc-img .img-box{ width: 100%; height: auto; border-radius: 7px; filter: none}
.bonc-img .image-checkbox{}
select.cstm-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background: #fff;
    padding: 10px 30px;
    height: 100%;
    border-radius: 8px;
    background: url("../images/arr-down.png") no-repeat 97% 50%;

}
select.cstm-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
.btn-setting{ border: 1px dashed #ced4da; border-radius: 0; color: #000; padding: 19px 24px; margin-top: 12px; }
.setting-payment{ max-height: 60px;}
.setting-payment label{ max-height: 60px;}
.setting-payment img{width: auto; height: 30px; margin: 0px 11px;}

.notification-tag{padding-left: 0px;}
.dropdown-toggle.notification-btn{
    background-color: transparent;
    padding: 0;
    border: none;
    color: #fff;
    padding-right:0 !important;

}
.dropdown-toggle.notification-btn::after{
    content: "\f107"; display: none;
}
.notification{
    width: 32px;
    margin-right: 0px;
}
.notification-box{
    width: 350px;
    padding: 0;
}
.header-notification{
    background: #000;
    color: #fff;
    padding: 12px 20px;
    font-size: 20px;
}
.disable-img{ filter: grayscale(1)}
.content-notification{}
.content-notification ul{padding: 10px}
.content-notification ul li{list-style: none; margin-right: 0px}
span.notification-icon{width: 100px; padding-right: 8px; padding-top: 10px;}
.notification-icon img{ width: 50px; height: 50px; opacity: 1}
p.nt-cnt{ margin-bottom: 1px; }
.nt-tm{color: #a5a5a5;}
.notification-icon .txt-nt{}
.right-sec-top{margin: 0 15px 0 30px; color: #000; font-weight: 900; font-family: 'Roboto', sans-serif}
.right-sec-header{ font-size: 18px; color: #A5A5A5; padding: 20px 15px 30px 15px; border-bottom: 1px solid #E7E7E7; margin: 0 15px;}
.collapse .card-body{
    color: #A5A5A5;
}
.xdsoft_today_button{ display: none}

.wh15{width: 12px; height: 12px;}
.bonc-txt-btn{ height: 40px;  padding: 8px 27px; }
.p0{padding: 0}
.mx-100{ height: calc(100vh - 150px);  overflow: hidden;  margin-right: 40px;}
.section-schedule{}
.btn-mobile{height: 20px; width: 20px; display: none;}
.btn-mobile img{ width: 100%; height: 100%; }
.btn-add-post{right: 0; top: 15px; position: absolute;}

.modal-post-lg{max-width: 90%;}
.modal-post-lg .modal-content{ border-radius: 10px;}
.bonc-txt-body{ overflow: auto;}
.bonc-txt-select{ height: 50px; font-size: 18px;}
.bonc-txt-ul { padding: 0; margin-top: 10px;}
.bonc-txt-ul li{ list-style: none}
.bonc-txt-ul li a{ border: none; border-bottom: 2px solid #f6f6f6; color: #A5A5A5; }


.nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.hidden{display: none;}
/*image gallery*/
.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
}
.image-checkbox input[type="checkbox"] {
    display: none;
}

.image-checkbox-checked {

}
.image-checkbox .fa {
    position: absolute;
    color: #fff;
    background-color: #000;
    padding: 6px;
    top: 5px;
    right: 5px;
    border-radius: 34px;
    font-size: 9px;
}
.image-checkbox-checked .fa {
    display: block !important;
}
/*Post Design */

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.post-menu-tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.post-menu-tab button:hover {
    background-color: #ddd;
}
.post-font-text{ margin-top: 10px;}
.btn-add-text{ width: 100%}
.btn-add-text img{}
.text-section-post{ margin-top: 20px;}
/* Create an active/current "tab button" class */
.post-menu-tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
#draggable-icon{
    position: absolute;
    z-index: 2;
    display: none
}
#draggable-icon img{ width: 100%; height: 100%; }
#preview{
    position: relative;
    display: inline-block;
    height: 400px;
    width: 400px;
    background: #fff;
    margin: auto;
}
#profile-pic, #fg{
    width: 100%;
}
#fg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
#fb-set-pic{
    display: table;
    margin: 20px auto;
}
#download{
    padding: 10px 20px;
    background: #092e7b;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    outline: none;
}
#fb-set-pic{
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
}
.modal-sidebar{
    width: 35%;
}
.post-model-content{
    overflow: auto;
    width: 65%;
}
.post-tabcontent {
    display: none;
    padding: 0px 12px;
    border: 1px solid ##D4D4D4;
    width: 90%;
    border-left: none;
    height: calc(100vh - 170px);
    overflow: auto;
    background: #F7F7F7;
}
.post-tabcontent.active{
    display: block;
    /*width: 30%;*/
}

.post-menu-tab{
    background-color: #EDEDED;
    height: calc(100vh - 170px);

}
.post-modal-body{
    padding: 0;
    height: calc(100vh - 170px);
}
.filters ul{
    padding: 0;
}
.filters ul li{
    list-style: none;
    margin-top: 15px;
}
.filters ul li .img_action{
    width: 100%;
    background-color: #fff;
}
.templates-div{
    padding: 20px 0px ;
}
.templates-list{
    margin-top: 10px;
}
.templates-div .search-inp{
    padding-left: 10px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
    height: 45px;
}
.cat-title{ font-family: 'Titillium Web', sans-serif; color: #CACACA; font-size: 15px; padding-bottom: 10px;}
.cat-title span{ font-size: 17px; color: #000}
.cat-title a{ font-size: 15px; color: #CACACA; width: 100%; text-align: right;}

.template-img {
    margin-left: -10px;
}
.template-img a img{
    padding-left: 10px;
}
.template-img a img{
    width: 50%;
    height: auto;
    float: left;
}
.post-upload{
    padding-top: 50px;
}
.summary-desc{}
.align-group-post{ padding: 0}
.align-group-post li{list-style: none; float: right; cursor: pointer; margin-left: 5px;}
.color-align-post{margin-top: 10px;}
.modal-post-lg .modal-content .modal-header{ background-color: #DEDEDE; border: none; font-family: 'Titillium Web', sans-serif; font-size: 26px; padding: 20px 50px; color: #000; border-radius: 10px 10px 0 0;}

.dropdown-item{
    padding: 0;
}
.language{
    display: table;
    padding: 0;
}
.language li{
    list-style: none;
    display: table-cell;
    padding-left: 5px;
    color: #A5A5A5;
}
.language li a{
    color: #A5A5A5;
}
.language li a.active{
    color: #000000;
}
.modal-header .close{
    padding: 5px 1rem;
    font-size: 2.5rem;
    opacity: 1;
    font-weight: normal;
}
.my-tab-icon{ display: table; padding-left: 30px}
.my-tab-icon li{ display: table-cell; padding: 0 5px; background-color: #F5F6F7;}
.my-tab-icon li.nav-item .nav-link.active{ background-color: #F5F6F7;}
.my-tab-icon li.nav-item .nav-link{ margin-right: 40px; font-size: 18px;}
.grey-background{background-color: #F5F6F7;}
.modal-content{border-radius: 10px;}
.icon-model-footer{margin: 0 auto;}
icon-model-body{padding: 20px;
    overflow: hidden;}
.modal-footer {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 0 0 10px 10px;
    border-top-color: #efefef;
    padding: 20px;}
.icon-model-footer .btn{font-size: 18px; padding: 10px 25px; border-radius: 22px; margin: 0 auto;}
.modal-super{ border-bottom: 2px solid #F5F6F7;}
#bonc-sticker-sec{display: none; padding: 20px; font-family: 'Titillium Web', sans-serif;}
.bonc-sticker-btn-sec{padding: 15px 25px;}
.bonc-sticker-back{}
.bonc-sticker-back a{ color: #000000; font-size: 18px; font-family: 'Titillium Web', sans-serif;}
.bonc-stickers{padding: 10px 0 0 5px; height: calc(100vh - 270px); overflow: auto}
.bonc-st-cat{}
.bonc-sticker-cat-head{ font-size: 16px; font-weight: 100; color: #a5a5a5; }
.bonc-st-ul{  padding: 0; padding-bottom: 10px; border-bottom: 1px solid #F5F6F7}
.bonc-st-list{ display: inline-block; list-style: none; margin: 25px; max-width: 100px}
.bonc-st-list img{width: 100%; height: auto;}
.bonc-st-list a{}
.modal-dialog {max-width: 530px;}


.select2-container--default .select2-selection--single{
    padding: 14px 12px;
    border: 1px solid #ced4da;
    height: 58px;
    border-radius: 8px;
    color: #495057;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 29%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{ color: #495057}
.channel-set{}
.channel-set .col-md-2{padding-right: 0px; padding-left: 0px;}
.channel-set .col-md-2{ max-width: 45px; }



.overlays{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;
    cursor: pointer;

}
.coming-soon-text{
    position: absolute;
    top: 92%;
    left: 46%;
    font-size: 22px;
    color: #131212;
    transform: translate(-47%,-16%);
    -ms-transform: translate(-50%,-50%);
    font-weight: 600;
    width: max-content;
}
.example1 {
    background-color: #80808040;
    padding: 79px;
    height: 100px;
    width: 30%;
    border-radius: 7px;
    margin-bottom: 10px;
}
.c-animated-background {
    animation-duration: 15.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: fff;
    background: linear-gradient(to right, #eeeeee -122%, #dddddd 101%, #eeeeee -38%);
    height: 100%;
}
.help-form{
    margin-top: 10px;
}
.help-form label{
    color: #010101;
}
.help-form input.form-control{
    border: 2px solid #f6f6f6;
    border-radius: 10px;
    height: 40px;
    font-size: 15px;
}
.help-form-send{
    min-width: 80px;
}
.dropdown-menu{margin-top: 10px;}
/*.act-dis{float: right; display: contents}*/
/*.act-dis::after{clear: both}*/
.setting-channel-list{ padding: 10px 0;}
.setting-channel-list + .setting-channel-list{border-top: 2px solid #f6f6f6}
.btn-success:hover{border: none !important;}
.btn-success:focus, .btn-success.focus {box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;}
.btn-success:not(:disabled):not(.disabled):active{background-color: #000000;}

.credit-card-txt{font-size: 18px;}

.notification-count{
    position: absolute;
    background: #fcf113;
    color: #000;
    border-radius: 11px;
    width: 17px;
    height: 17px;
    font-size: 13px;
    right: -2px;
    top: -5px;
    line-height: 17px;
    z-index: 1;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: 0px 0;
    }
    100% {
        background-position: 100em 0;
    }
}
.profile-img-container img{ height: 50px; width: auto;}

.add_channel{margin-right: 25% !important;}

/* Responsive Style Start -------------------------------------------------- */

@media (min-width: 768px) {

}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 530px;
    }
}

@media (max-width: 1650px) {
    .sidebar{min-width: 350px;max-width: 350px;}
    .mx-100{margin-right: 20px;}
    .recent-post{padding-left: 20px;padding-right: 20px;}
    .recent-post-cnt{padding-left: 12px;padding-right: 0px; height: calc(100vh - 265px)}
    .side-accord{padding: 0 15px;}
    .start-chat{padding-left: 20px;padding-right: 20px;}
    .thumbnail-group{padding-left: 30px;padding-right: 30px;}
    .content-section{padding-left: 20px;padding-right: 3px;}
    .post-wrap{padding-right: 10px;padding-left: 0;}

    .nav-link{font-size: 24px;}
    .modal-post-lg{max-width: 90%;}
    .profile-img-container img{ height: 50px; width: auto;}
    .btn-setting.add-logo-btn{padding: 12px 17px;}
    .delete{
        top: -16px;}

    .setting-channel-list{padding: 15px;}
    .setting-channel-list + .setting-channel-list{border-top: 2px solid #f6f6f6}
    .notification-image-block{ max-height: 250px; align-content: center; display: flex}
    .notification-image-block img{ margin: 0 auto;}
    .notification-block{padding: 10px 0}
    .notification-block+.notification-block{border-top: 2px solid #f6f6f6}
}

@media (max-width: 1440px) {
    .col-media{ max-width: 155px; }
    /*.btn img{ width: 11px}*/
    .btn { font-size: 12px}
    body{font-size: 16px;}
    .post-user { width: 35px; height: 35px; display: block; }
    .date-time-block img{ width: 35px}
    .date-time-block .cal-ico img{ width: 22px}
    .date-time-block .form-control{ height: 54px; }
    .cal-ico{ top: 14px;}
    .btn-cnfm{ font-size: 18px}
    .date-time-block label{font-size: 20px}
    .modal-post-lg{max-width: 90%;}
    .profile-img-container img{ height: 50px; width: auto;}
    .setting-payment img{height: 20px;}
}
@media (max-width: 1400px) {
    .profile-img-container img{ height: 50px; width: auto;}

    body{font-size: 16px;line-height: 22px;}
    .card-body{padding-left: 10px;}
    .post-persons{margin-left: 50px;}
    .post-small-log{width: 50px;}
    .post-small-log img{width: 100%;}
    .post-block{padding-left: 10px;}
    .panel-body{padding-left: 10px;padding-right: 10px;}
    .sidebar {min-width: 300px;max-width: 300px;}
    .modal-post-lg{max-width: 90%;}
    .modal-header .close{padding:5px 1rem;}
    .setting-payment img{height: 18px;}
}
@media (max-width: 1300px) {
    .btn{padding: 8px 12px;}
    .btn img{margin-right: 2px;}
    .bonc-txt-btn{padding: 8px 17px;}
    .date-time-block{padding-left: 50px;}
    .date-time-block label{font-size: 16px;padding-right: 15px;}
    .date-time-block .form-control{padding: 6px 13px;height: 50px;}
    .date-time-block .form-control.datepicker{padding-right: 38px;background-position: center right 15px;}
    .input-group-setting label{font-size: 20px;}
    .modal-post-lg{max-width: 90%;}
    .col-media{ max-width: 115px; }
    .profile-img-container img{ height: 50px; width: auto;}

}

@media (max-width: 1199px) {
    #content{overflow: hidden;}
    .sidebar {min-width: 350px;max-width: 350px;position: relative;z-index: 99;}
    .left-section{left: -350px;}
    .right-section{right: -350px;}
    .content-section{margin-left: -350px;margin-right: -350px;}
    .Leftbar-open .left-section{left: 0;}
    .Rightbar-open .right-section{right: 0;}
    .close-side{position: absolute;right: 10px;top: 10px;color: #000;font-size: 24px;cursor: pointer;z-index: 9;}
    .right-section .close-side{left: 10px;right: auto;}
    .full-post-block{ padding-right: 20px; }
    .full-post-desc{}
    .modal-post-lg{max-width: 90%;}
    .content-section-setting{padding: 58px 3%}
    .setting-payment img{height: 15px; margin: 0px 10px 0 0;}

}

@media (max-width: 991px) {
    .navbar-brand{margin-right: 25px;}
    .btn{font-size: 14px;}
    .quick-icons-header li{margin-right: 20px;}
    .modal-post-lg{max-width: 90%;}
    .content-section-setting{padding: 58px 0%;}
    .content-section-setting .tab-pane{ padding: 33px 19px;}
}

@media (max-width: 767px) {
    .navbar{padding: 10px 15px 10px;}
    .quick-icons-header li img{width: 18px;}
    .quick-icons-header li{margin-right: 16px;}
    .header-user{padding-left: 15px;}
    .dropdown-toggle{padding-right: 30px !important;}
    .header-right{margin-bottom: 10px;width: 100%;}
    .logo-header{width: 100%;}
    .navbar-nav { padding-top: 15px;display: table-cell;column-count: 2;}
    .mob-only{ display: block; text-align: right}
    .navbar-nav .nav-item{padding: 0; width: 94%; display: inline-block;}
    .navbar-nav{padding-top: 15px;}
    .nav-link{padding-top: 10px;padding-bottom: 10px;}
    .content-section{padding: 20px 15px;}
    .content-section-bonc{padding: 18px 13%;}
    .post-wrap{padding-top: 10px; padding-right: 0;}
    .post-block{padding-left: 0;padding-top: 0px;}
    .panel-head{padding: 18px 18px;font-size: 18px;line-height: 22px;}
    .add-pic .btn-group{margin-top: 0px;}
    .add-pic .btn{display: block;margin-left: 5px !important;margin-bottom: 5px !important;}
    .post-persons{margin: 20px 0 0 0;}
    .date-time-block{padding-left: 0;padding-top: 0;}
    .lg-social{top: 0;position: relative; transform: none !important;margin-bottom: 10px;}
    .date-group{margin-bottom: 15px;}
    .post-on{padding: 15px;}
    .add-pic{padding: 25px;}
    .btn-lg, .btn-group-lg > .btn{padding: 7px 30px;}
    .social-summary{padding: 10px 4px 10px 0; border: none;}
    .summary-image {width: 30px; min-width: 30px; height: 30px; margin-right: 5px}
    .summary-block{font-size: 80%; padding-right: 5px; line-height: 16px;}
    .action-list{padding: 0;}
    .dayname-head{padding: 15px; text-align: left;}
    .dayname-head .btn{    position: absolute; transform: none !important; top: 10px; right: 5px;}
    .sidebar{padding-top: 30px;padding-bottom: 30px;min-width: 300px;max-width: 300px;}
    .content-section{margin-left: -300px;margin-right: -300px;}
    .recent-post{padding-left: 10px;padding-right: 10px;}
    .accordion > .card{padding: 20px 0;}
    .thumbnail-group{padding: 20px 15px;}
    .recent-post-body{padding-top: 20px;}
    .date-time-block label{ display: none;}
    .cal-ico{right: 20px}
    .btn-mobile{display: inline-block;}
    .btn-web{display: none;}
    .dropdown-menu{margin-top: 10px; left: -30px !important;}

    .social-summary li{margin-right: 10px;}
    .mx-100{margin-right:0; }
    .content-section .card{border-radius: 0;}
    .modal-post-lg{max-width: 90%;}
    .col-media{ flex: 0 0 25%; max-width: 25%; margin-left: 0; padding: 5px;}

    .register-form-sec{}
    .content-section-setting{padding: 0}
    .setting-md-3{ background: #FFF}
    .content-section-setting .tab-pane{width: 100%}
    .setting-tab {padding: 0px 6px 0px 10px; display: inline; }
    .setting-tab li a.active{color:#000; border-bottom: 2px solid #000; }
    .setting-tab li a{padding: 10px 0px 10px 0; }
    .setting-tab li{display: inline-flex; padding: 0px 0px 0px 0; font-size: 17px; margin: 0px 20px -1px 0px;}
    .dropdown-item{padding: 0.25rem 0;}
    .content-section-setting .tab-pane { padding: 20px 11px; border-radius:0; margin-top: 15px; }
    #linked { padding: 20px 0px;  }
    .tab-header.col-md-12 .col-md-9{ padding-left: 10px}
    .tab-input{margin: 10px 10px 0; }
    .input-group-setting { margin-bottom: 0px; }
    .act-dis{float: right; display: contents}
    .tab-header .text-right{padding-right: 10px;}
    .act-dis:after{clear: both}
    .setting-payment img{ height: 18px; margin: 0px 10px 0 0;}
    .credit-card-txt{font-size: 18px;}
    .list-unstyled.social-summary-linked.setting-ll li img{ width: 30px;}
    .post-page-header{padding-bottom: 10px;}
    .btn-post-grp{padding-right: 15px;}
    .schedule-sec{ margin-top: 10px;}
    .button-file{opacity: 1}
    .button-file-edit{top:0; left: 0px;}
    .btn-post-grp.pull-right{float: left}
    .tab-content .scroll-cust{max-height:calc(100vh - 100px); height: 100vh;}
    .add_channel{margin-right: 25% !important;}


}
@media (max-width: 450px) {
    body{background-image: none; background-color: #f3f3f3}
    .col-media{ flex: 0 0 50%; max-width: 50%; padding: 5px; margin: 0px;}
    .bonc-photo-body{height: calc(100vh - 280px); overflow: auto}
    .media-btn-group .row{margin-left: 0px;}
    .btn-home-grey{ width: 100%;}
    .content-section{padding:0px; margin-top: 15px}
    .content-section .card{ margin-top: 10px;}
    .summary-desc{ height: 18px; overflow: hidden;}
    .page-header{padding-left: 15px; font-size: 18px;}
    .panel{border-radius: 0px; margin-bottom: 5px; border: 0px }
    .post-date-block .panel{ border-radius: 0px; margin-bottom: 5px; border: 0px;}
    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{display: none}
    .post-wrap{padding-top: 0px}
    .post-block{ padding-top: 0}
    .mCSB_inside > .mCSB_container{margin-right: 0px}
    .header-user-mob{ display: block}
    .mob-only{ display: block; text-align: right}
    .navbar-dark .navbar-nav .show > .nav-link:before, .navbar-dark .navbar-nav .active > .nav-link:before, .navbar-dark .navbar-nav .nav-link.show:before, .navbar-dark .navbar-nav .nav-link.active:before{background-color: #000}
    .nav-link{font-size: 16px; padding-top: 5px; padding-bottom: 5px}
    .navbar-brand img{width: 24px; height: 30px}
    .navbar-dark .navbar-toggler-icon{background-size: 30px;}
    .dropdown-toggle{ padding-right: 20px !important;}
    .user-image{ height: 30px; width: 30px;}
    .header-right, .header-user{display: none !important;}
    .header-user-mob .user-image{margin-right: 0px;}
    .header-user-mob .dropdown-menu{margin-top: 10px; left: -85px !important;}
    .navbar-brand {     margin-right: 0px; }
    .img-sel-post .btn{padding: 5px 14px; margin: 2px; border-radius: 20px; font-size: 11px;}
    .bonc-txt-btn{padding: 5px 20px; margin: 2px; border-radius: 20px; font-size: 11px; height: auto; width: 94%}
    .img-sel-post { padding-left: 10px !important; width: 98%;}
    .add-pic{padding: 15px 15px 50px;}
    .add-pic .btn-group{margin-top: 25px;}
    .post-persons{margin-top: 12px;}
    .btn-post-grp .btn { margin: 10px 0px 0 10px;padding: 5px 25px;}
    .btn img{margin-right: 5px;}
    .date-ico{ right: 10px; }
    .date-ico{ right: 10px; }
    .lg-social{ top: 7px; position: absolute; transform: none}
    .date-time-block{padding-left: 45px; padding-top: 0px; padding-bottom: 0px; margin-top: 0 !important;}
    .panel-body{padding-top: 10px; padding-bottom: 5px;}
    .date-group { margin-bottom: 5px; }
    .date-group  .form-group{margin-bottom: 0}
    .date-time-block + .date-time-block{ border-top: 0px solid #f6f6f6; }
    .post-date-block .col-7{padding-right: 5px}
    .post-date-block .col-5{padding-left: 5px}
    .wh15{width: 10px; height: 10px;}
    .full-post-block{margin-top: 10px; padding: 20px;}
    .full-post-image{width: 100%; padding: 5px;}
    .full-post-desc { height: max-content; margin-top: 10px;}
    .full-post-soc-btns{margin-top: 5px;}
    .full-post-content{margin-left: 0;}
    .full-post-image img{object-fit: cover; height: 105%; width: 105%; object-position: 50% 0%;}
    .modal-post-lg{max-width: 90%;}
    .language{
        width: 100%;
        display: table;
        padding: 0;
    }
    .language li{

        padding-left: 5px;
        color: #A5A5A5;
        display: table-cell;
    }
    .language li a{
        color: #A5A5A5;
    }
    .language li a.active{
        color: #000000;
    }
    .content-section, .mx-100{ height: calc(100vh - 70px)};
    .tab-content .scroll-cust{max-height:calc(100vh - 200px); height: 100vh;}
    .dropdown-menu{margin-top: 10px; left: -90px !important;}
    .add_channel{margin-right: 5% !important;}
}
@media (max-width: 373px) {
    .img-sel-post .btn { padding: 5px 0px; margin: 2px; border-radius: 20px; font-size: 73%; }
    .bonc-txt-btn{ padding: 5px 0px; font-size: 73%;}
    .modal-post-lg{max-width: 90%;}
}
 .welcome-body{
            background: #F7F7F7 0% 0% no-repeat padding-box;
        }
        .welcome-image{
            width: 97%;
            padding: 13px 10px 18px 18px;
        }
        .modal_header_title{
           background: #EDEDED 0% 0% no-repeat padding-box;
            border-radius: 10px 10px 0px 0px;
            padding: 14px 34px 5px 29px;
            opacity: 1;
        }
        .welcome-text{
            text-align: left;
            font: Light 24px/29px Titillium Web;
            letter-spacing: 0.48px;
            color: #808080;
            opacity: 1;
        }
        .branding-text{
            text-align: left;
            font: Light 24px/29px Titillium Web;
            letter-spacing: 0.48px;
            color: #808080;
            opacity: 1;
            padding: 0px 5px 0px 19px;

        }
        .js-title-step{
            text-align: left;
            font: Regular 26px/31px Titillium Web;
            letter-spacing: 0.52px;
            color: #010101;
            opacity: 1;
        }
        .js-btn-step{
            background: #808080 0% 0% no-repeat padding-box;
            border-radius: 25px;
            border: none;
            color:#fff;
            opacity: 1;
        }
        .basics-image{

            width: 62%;
            padding: 14px 15px 19px 18px;
            }
            .branding-image{
               width: 83%;
                padding: 14px 15px 19px 18px;
            }
         .concept-image {
                width: 56%;
                padding: 13px 10px 18px 18px;
            }
            .welcome-footer{
                border: none;
            }
            .welcome-modal-content{
                border-radius: 20px;
            }
            .js-btn-channel{
                background: #000000 0% 0% no-repeat padding-box;
                border-radius: 25px;
                border: none;
                color: #fff;
                opacity: 1;
                padding: 8px 20px;
                border-radius: 20px;
                min-width: 80px;
                font-size: 12px;
            }
            .js-btn-channel:hover{
                text-decoration: none;
                color:#fff;
            }
            .js-btn-step:hover{
                background: #000000 0% 0% no-repeat padding-box;
                color: #fff;
            }


